<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.xmlsj.iwdata.mapper.IwDevinfoMapper">

    <resultMap id="BaseResultMap" type="top.xmlsj.iwdata.entity.IwDevinfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="productType" column="productType" jdbcType="VARCHAR"/>
            <result property="devNo" column="devNo" jdbcType="VARCHAR"/>
            <result property="areaName" column="areaName" jdbcType="VARCHAR"/>
            <result property="intraRegionGrouping" column="IntraRegionGrouping" jdbcType="VARCHAR"/>
            <result property="devAdd" column="devAdd" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,productType,devNo,
        areaName,IntraRegionGrouping,devAdd,
        createTime,updateTime,deleted
    </sql>
</mapper>
